{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Nixreenr</title>
    <link rel="shortcut icon" type="image/svg" href="{% static 'logo.svg' %}"/>

    <meta name="description" content="Search stocks and get a basic overview from my perspective. This is first full stack project using python html and sql.">
    <meta name="author" content="Nick Lastihenos">

    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'style10.css' %}" >
</head>

<body>
    <div class="container-fluid align-items-center justify-content-center">

        <div class="topnav">
            <a href="."> 
                <img src="{% static 'long_logo.svg' %}" width="100" height="30" ALT="align box" ALIGN=CENTER>
            </a>
            <a href="./about">about</a>
            <a href="./contact">contact</a>
            <a href="./copyright">copyright</a>
            <div class="search-container">
                <form id="registerForm" method="GET" action="overview">
                    <input type="text" name="text" id="text" onFocus="this.select()" autofocus="autofocus" style="text-transform:uppercase">
                </form>
            </div>
        </div>

            <div class="row mt-5 mb-5">
                <div class = "container d-flex justify-content-center align-items-center">
                    <h1>reach me here</h1>
                </div>
            </div>
        
            <div class="row mt-0 ml-3">
                <div class = "container d-flex justify-content-center align-items-center">
                    <div class = "col-sm-3 ml-5">
                        <a href="https://www.linkedin.com/in/nick-lasti/"><img src="{% static 'linkedin.svg' %}" width="48%" height="100%" alt="Linkedin"></a>
                    </div>
                    
                    <div class = "col-sm-3 ml-2">
                        <a href= "https://www.github.com/nicklasti/"><img src="{% static 'github.svg' %}" width="48%" height="100%" alt="Gitub"></a>
                    </div>
                    <div class = "col-sm-3 ml-2">
                        <a href="https://www.instagram.com/nick_lasti/"><img src="{% static 'insta.svg' %}" width="48%" height="100%" alt="Instagram"></a>
                    </div>
                </div>
            </div>
        
            <div class="row mt-5 mb-5 ml-1">
                <div class = "container d-flex justify-content-center align-items-center">
                    <div class = "col-sm-12">
                        <img src="{% static 'gmail.svg' %}" width="15%" height="100%" alt="Email">&nbsp &nbsp nlastihenos@gmail.com
                    </div>
                </div>
            </div>

            <div class="row mt-5 mb-5">
                <div class="container d-flex justify-content-center align-items-center">
                    <div class = "col-sm-12">
                        <img src="{% static 'phone.svg' %}" width="15%" height="100%" alt="Mobile">&nbsp &nbsp +1 (516) 477-2002
                    </div>
                </div>
            </div>

        </div>

    </div>

    <script src="{% static 'scripts4.js' %}"></script>

</body>

</html>