{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Nixreenr</title>
    <link rel="shortcut icon" type="image/svg" href="{% static 'logo.svg' %}"/>

    <meta name="description" content="'Nick's Screener' ... Do you get it? This is my first full stack project using python html and sql. Search some stocks and have some fun :) ">
    <meta name="author" content="Nick Lastihenos">

    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'style10.css' %}" rel="stylesheet">

</head>

<body>

<div class="container-fluid align-items-center justify-content-center">
    <div class="topnav">
        <a href="."> 
            <img src="{% static 'long_logo.svg' %}" width="100" height="30" ALT="align box" ALIGN=CENTER>
        </a>
        <a href="./about">about</a>
        <a href="./contact">contact</a>
        <a href="./copyright">copyright</a>
        <a href="./beststocks">best stocks</a>
        <a href="./worststocks">worst stocks</a>
        <div class="search-container">
            <form id="registerForm" method="GET" action="overview">
                <input type="text" name="text" id="text" onFocus="this.select()" autofocus="autofocus" style="text-transform:uppercase">
            </form>
        </div>
      </div>

    <section class="section">
        <div class="row">
            <div class="col-md-6 ">
                <div class="card-text-white bg-dark">
                    <div class="card-body p-2 p-2">
                        <div class="darktheme">
                            <h4 class="bolded" style="color: rgb(8, 76, 43);">{{stock.company_name}}&nbsp&nbsp{{stock.name}}&nbsp&nbsp${{stock.stock_price}}</h4>
                            <h6 style="color: rgb(155, 155, 155);">Last Updated {{stock.last_update}}&nbspEST</h6>
                            <h6 style="color:black;"><span class="bolded">Sector:</span>&nbsp{{stock.sector}}&nbsp</h6>
                            <h6 style="color:black"><span class="bolded">Industry:</span>&nbsp{{stock.industry}}</h6>
                            <a target="_blank" rel="noopener noreferrer" class="btn btn-success btn-sm" href={{edgar_link_8k}} role="button">8-K</a>
                                            <a target="_blank" rel="noopener noreferrer" class="btn btn-success btn-sm" href={{edgar_link_10q}} role="button">10-Q</a>
                                            <a target="_blank" rel="noopener noreferrer" class="btn btn-success btn-sm" href={{edgar_link_10k}} role="button">10-K</a>
                            {% autoescape off %}
                            {{chart}}
                            {% endautoescape %}
                            <h5 class="card-title" style="color: rgb(8, 76, 43);">Company Size</h5>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Book Value</th>
                                        <th scope="col">Mkt Cap</th>
                                        <th scope="col">Mkt Share</th>
                                        <th scope="col">Avg Cap</th>
                                        <th scope="col">Ind Size</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>${{stock.book_value}}</td>
                                        <td>${{stock.mkt_cap_short}}</td>
                                        <td>{{stock.mkt_share}}</td>
                                        <td>${{stock.avg_mkt_cap}}</td>
                                        <td>${{stock.ind_size}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <h5 class="card-title" style="color: rgb(8, 76, 43);">Shares</h5>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Beta</th>
                                        <th scope="col">Avg Volume</th>
                                        <th scope="col">Shares Float</th>
                                        <th scope="col">Short Float</th>
                                        <th scope="col">DTC</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{stock.beta}}</td>
                                        <td>{{stock.avg_volume}}</td>
                                        <td>{{stock.shares_float}}</td>
                                        <td>{{stock.short_float}}</td>
                                        <td>{{stock.dtc}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-body p-2 p-2">
                    <h5 class="card-title" style="color: rgb(8, 76, 43);">Income Statement</h5>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">{{stock.ticker}}</th>
                                <th scope="col">Ind Avg</th>
                                <th scope="col">Grade</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Revenue</td>
                                <td>${{stock.revenue_short}}</td>
                                <td>${{stock.avg_rev}}</td>
                                <td>{{stock.grade}}</td>
                            </tr>
                            <tr>
                                <td>Revenue Growth (Q/Q)</td>
                                <td>{{stock.rev_growth}}</td>
                                <td>{{stock.avg_rev_growth}}</td>
                                <td>{{stock.rev_growth_grade}}</td>
                            </tr>
                            <tr>
                                <td>Earnings</td>
                                <td>${{stock.profit_short}}</td>
                                <td>${{stock.avg_profit}}</td>
                                <td>{{stock.profit_grade}}</td>
                            </tr>
                            <tr>
                                <td>Profit Margin</td>
                                <td>{{stock.profit_margin}}</td>
                                <td>{{stock.avg_profit_margin}}</td>
                                <td>{{stock.profit_margin_grade}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h5 class="card-title" style="color: rgb(8, 76, 43);">Market Valuation</h5>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">{{stock.ticker}}</th>
                            <th scope="col">Ind Avg</th>
                            <th scope="col">Grade</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>P/E</td>
                            <td>{{stock.pe}}</td>
                            <td>{{stock.avg_pe}}</td>
                            <td>{{stock.pe_grade}}</td>
                        </tr>
                        <tr>
                            <td>Fwd P/E</td>
                            <td>{{stock.fwdpe}}</td>
                            <td>{{stock.avg_fwdpe}}</td>
                            <td>{{stock.fwdpe_grade}}</td>
                        </tr>
                        <tr>
                            <td>EPS</td>
                            <td>{{stock.eps}}</td>
                            <td>{{stock.avg_eps}}</td>
                            <td>{{stock.eps_grade}}</td>
                        </tr>
                        <tr>
                            <td>P/S</td>
                            <td>{{stock.ps}}</td>
                            <td>{{stock.avg_ps}}</td>
                            <td>{{stock.ps_grade}}</td>
                        </tr>
                        <tr>
                            <td>P/B</td>
                            <td>{{stock.pb}}</td>
                            <td>{{stock.avg_pb}}</td>
                            <td>{{stock.pb_grade}}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- <div class="row mt-5">
                    <div class = "container d-flex justify-content-center align-items-center">
                        <h2>Overall Grade:&nbsp{{stock.overall_grade}}</h2>
                    </div>
                </div>
                <h1>&nbsp&nbsp</h1> -->
            </div>
        </div>
    </section>
</div>

    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <script src="{% static 'scripts.js' %}"></script>
    <script src="{% static 'https://cdn.jsdelivr.net/npm/chart.js@3.8.2/dist/chart.min.js' %}"></script>

</body>

</html>